.feed-container {
    display: flex;
}

.feed {
    flex: 1;
    margin: 5px;
    position: relative;
}

.feed:hover > .feed__content {
    display: block;
}

.feed__img {
    height: 300px;
    width: 100%;
    margin: auto;
}

.feed__content {
    background-color: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    color: white;
}

.feed__content__title {
    padding: 5px;
}