<div infinite-scroll="fetchNextFeeds()"
    infinite-scroll-distance="1"
    infinite-scroll-disabled="loadingFeeds">
    <div class="feed-container"
        ng-repeat="innerFeeds in feeds">
        <div class="feed"
            ng-repeat="feed in innerFeeds">
            <img class="feed__img"
                ng-src="{{ feed.image }}">
            <div class="feed__content">
                <div ng-bind="feed.title"
                    class="feed__content__title">
                </div>
            </div>
        </div>
        <div style='clear: both;'></div>
    </div>
    <div ng-show="loadingFeeds">Loading data...</div>
</div>